
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

  *{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
    font-family: 'Poppins', sans-serif;
  }

  body{
    background:#081b29;
    color: white;
  }

  .header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 20px ;
    display: flex;
    justify-content: space-between;
    background: transparent;
    align-items: center;
    z-index: 100;
  }

  .logo{
    font-size: 30px;
    color: white;
    text-decoration: none;
    font-weight: 800;
  }

  .navbar a{
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: .3s;
    margin-left: 30px;
  }

  .navbar a:hover,
  .navbar a .active{
    color: aqua;
    text-decoration: underline;

  }

  .home{
    display: flex;
    align-items: center;
    height: 100vh;

  }