* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: aqua;
  font-family: monospace;
}

.menu-bar {
  background: rgb(52, 141, 107);
  text-align: center;
  color: black;
}

.menu-bar ul {
  display: inline-flex;
  list-style: none;
}

.menu-bar ul li {
  width: 120px;
  margin: 15px;
  padding: 15px;
}

.menu-bar ul li a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-weight: 300;
}

.active,
.menu-bar ul li:hover {
  background: black;
  border-radius: 10px;
}

.sub-menu {
  display: none;
}

.menu-bar ul li:hover .sub-menu {
  display: block;
  position: absolute;
  background: rgb(52, 141, 107);
  margin-top: 15px;
  margin-left: 15px;
}

.menu-bar ul li:hover .sub-menu ul {
  display: block;
  margin: 10px;
}
